body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
}

input {
    font-family: inherit;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #region header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.address {
    display: none;
}

.nav-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .accent {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .link-nav {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link-nav.current {
        position: relative;
    }

    .link-nav.current::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #404bbf;
    }

    .address {
        font-style: normal;
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link-nav:hover,
    .link-nav:focus,
    .address-link:hover,
    .address-link:focus,
    .link-nav.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* #endregion header */

/* #region first page */
.first-section {
    background-color: #2e2f42;
    color: #fff;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 320px;
    padding: 72px 0;
}

.container-first-section {
    width: 100%;
    margin: 0 auto;
}

.head-text {
    max-width: 216px;
    height: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: auto;
    margin-bottom: 72px;
}

.button {
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF
}

@media screen and (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office-1.jpg);
    }
}

@media screen and (min-width: 768px) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office-1.jpg);
        max-width: 768px;
        padding: 112px 0;

    }

    .head-text {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-t@2x.jpg");
    }
}

@media screen and (min-width: 1158px) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/hero-t@2x.jpg");
        max-width: 1440px;
        padding: 188px 0;

    }

    .container-first-section {
        width: 100%;
        margin: 0 auto;
    }

    .head-text {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-d@2x.jpg");
    }
}

/* #endregion first page */

/* #region list page */
.list-section {
    background-color: #fff;
    color: #2e2f42;
    padding: 96px 0;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-icon {
    display: none;
}

.list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-text-simple {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-item {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .section-list {
        row-gap: 72px;
        column-gap: 24px;
    }

    .list-title {
        text-align: left;
    }

    .section-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .list-section {
        padding: 120px 0;
    }

    .features-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 100%;
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .list-icon {
        fill: #2e2f42;
    }

    .list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .list-text-simple {
        font-weight: 400;
    }

    .section-item {
        width: calc((100% - 72px) / 4);
    }
}

/* #endregion list page */

/* #region Our team page */
.team-section {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-container {
    padding: 0 28px;
}

.h-second-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}

.section-team {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-item {
    width: 100%;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-team-card {
    padding: 32px 0;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 16px;
    margin-right: 16px;
}

.team-links-item {
    width: 40px;
    height: 40px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons:hover,
.icons:focus {
    background-color: #404bbf;
}

.icon-item {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-container {
        padding: 0 108px;
    }

    .section-team {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;

    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .section-team {
        padding: 120px 0;
    }

    .team-container {
        padding: 0 15px;
    }

    .section-team {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

/* #endregion Our team page */

/*Section Portfolio*/
/*Mobile first*/
.section-portfolio {
    padding: 96px 0;
}

.portfolio-page {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

.portfolio-item {
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-block {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: left;
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .section-portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

/* #region end of page*/

/* mobile */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;

}

.accent-footer {
    color: #f4f4fd;
}

.nav-logo-footer {
    text-align: center;
    display: block;
    margin-bottom: 16px;
}

.footer-text {
    font-size: 16px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 288px;
}

/* social media */

.social-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.icons-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer:hover,
.icons-footer:focus {
    background-color: #31d0aa;
}

.icon-item-footer {
    fill: #f4f4fd;
}

/* subscribe */

.subscribe-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.form-subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.footer-email {
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-email::placeholder {
    color: #ffffff;
}

.footer-email:focus {
    outline: none;
}

.button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #31D0AA;
}

.icon-subscribe {
    fill: #FFFFFF;
    margin-left: 16px;
}

/* tablet */

@media screen and (min-width: 768px) {
    .footer-container {
        padding: 0 108px;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: flex-start;
    }

    .nav-logo-footer,
    .subscribe-text,
    .social-title {
        text-align: left;
    }

    .footer-text,
    .footer-email {
        width: 264px;
    }
}

/* desktop */

@media screen and (min-width: 1158px) {
.footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
        padding: 0;
    }

    .footer-block {
        max-width: 264px;
        margin-right: 120px;
    }

    .social-media {
        margin-right: 80px;
    }

    .footer-text {
        max-width: 264px;
    }

    .form-subscribe {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .footer-email {
        width: 264px;
    }
}

/* #endregion end of page*/

/* #region modal */

/* mobile */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
    z-index: 999;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    padding: 72px 16px 24px;

    transform: translate(-50%, -50%);

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
     0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;

    transition: transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1);

    overflow: auto;
    
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

/* text and button close */
.close-backdrop {
    position: absolute;
    top: 24px;
    right: 24px;
    
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-backdrop:hover,
.close-backdrop:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus {
    fill: #FFFFFF;
}

.modal-tittle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-field-wrapper {
    margin-bottom: 8px;
}

.label-field {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.field-wrapper {
    position: relative;
}

/* input type="text" */

.text-field {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    color: #000000;
}

.text-field:focus {
    border-color: #4D5AE5;
}

.field-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2E2F42;
    transition: fill 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus + .field-icon {
    fill: #4D5AE5;
}

/* textarea */

.form-field-wrapper-textarea {
    margin-bottom: 16px;
}

.comment-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea:focus {
    border-color: #4D5AE5;
}

/* checkbox */
.form-wrapper-checkbox {
    margin-bottom: 24px;
}

.policy-label {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked+.policy-label>.custom-checkbox {
    fill: #f4f4fd;
    background-color: #404BBF;
    border: none;
}

.policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.button-modal {
    display: block;
    margin: 0 auto;

    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
    background-color: #404BBF;
}

/* tablet, desktop*/
@media screen and (min-width: 768px) {
    .modal {
        padding: 72px 24px 24px;
        width: 408px;
        min-height: 584px;
    }
}


/* #endregion modal */

/* #region mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu:not(.is-open) .modal {
    transform: translate(-50%, -100%) scale(1.5);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
    display: flex;
    align-items: flex-start;
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
    color: #404bbf;
}

.mobile-contacts {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: #4d5ae5;
}

.mobile-social {
    padding-top: 48px;
    width: 100%;
}

.team-links {
    display: flex;
    gap: 40px;
}

.team-links-item {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item {
    fill: #F4F4FD;
    flex-shrink: 0;
}

.icons:hover {
    background-color: #404BBF;
}

.icons:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
/* #endregion mobile menu */